.subtitulo {
  font-family: Montserrat, sans-serif;
}

.titulo {
  font-family: 'Noto Sans Georgian', sans-serif;
}

.texto {
  color: #040316;
}

.btn-contacto {
  background: linear-gradient(45deg, #0ac2ff, #bcf2f6 100%);
  border-style: none;
  border-radius: 16px;
  font-weight: bold;
}

.btn-contacto:hover {
  background: #00337a;
  color: rgb(235,235,235)!important;
}

